Debug/
Release/

# Fichiers compilés
*.o
*.d
*.elf
*.bin
*.map
*.list
.vscode/
.project
# Debug launch files
*.launch
# =========================
# STM32CubeIDE / Eclipse
# =========================
.settings/
.metadata/

# =========================
# Fichiers temporaires
# =========================
*.log
*.tmp

# =========================
# macOS
# =========================
.DS_Store

# Backup / divers
*~
*.swp
