Debug/
Release/

# Fichiers compilés
*.o
*.d
*.elf
*.bin
*.map
*.list

# =========================
# STM32CubeIDE / Eclipse
# =========================
.settings/
.metadata/

# =========================
# Fichiers temporaires
# =========================
*.log
*.tmp

# =========================
# macOS
# =========================
.DS_Store

# =========================
# VS Code (si jamais)
# =========================
.vscode/

# =========================
# Backup / divers
# =========================
*~
*.swp
